.form-group input {
  border-radius: 5px;
  height: 22px;
  border: none;
  margin: 0 10px;
  padding: 0 4px;
}

.form-group span {
  font-size: 16px;
}

.btn {
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms;
}

.btn:hover {
  background-color: #ccc;
}

.btn:disabled {
  opacity: .9;
  background-color: #ddd;
}