<h2 class="title">Login</h2>
<form asp-controller="Home" asp-action="Login">
    <span>Name:</span>
    <input name="name" />
    <br />
    <span>Password:</span>
    <input name="password" />
    <br />
    <button>SEND</button>
</form>