@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@if (User.Identity.IsAuthenticated)
{
    <h3>Autenticado</h3>
    }
else
{
    <h3>Não autenticado</h3>
}