<h2 class="title">Cross-site Scripting (Reflected)</h2>
<form asp-controller="Xss" asp-action="SaveReflected">
    <span>Comment:</span>
    <input name="comment" />
    <br />
    <button>ADD</button>
    <br />
    <h2>Search Results for "@Html.Raw(@ViewBag.Comment)"</h2>
</form>