@model University.Models.MailModel

<div>
    <h3>Mail Sender</h3>
     <form asp-action="SendMail" style="margin-top:20px;display: flex;flex-direction: column;">
        From: <input class="form-input" asp-for="From" /><br />
        To: <input class="form-input" asp-for="To" /><br />
        Subject: <input class="form-input" asp-for="Subject" /><br />
        Body: <input class="form-input" asp-for="Body" /><br />
        <button style="margin-top:20px" class="btn">send</button>
    </form> 
</div>